.footer {
    background-color: #FF8310;
    &__container {
        padding: 27px 26px 17px 12px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__top {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 27px;
    }
    &__label {
        font-size: 36px;
        margin-left: 13px;
        font-family: "Bebas Neue", sans-serif;
        color: #fff;
    }
    &__content {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin-top: 120px;
    }
    &__left {
        margin-right: 189px;
    }
    &__suggestions {
        margin-bottom: 17px;
        color: #fff;
        font-size: 29px;
    }
    &__input {
        border-radius: 25px;
        width: 439px;
        height: 55px;
        background-color: #F5F5F5;
        border: none;
        &::placeholder {
            font-family: "Inter", sans-serif;
            font-weight: 500;
            font-size: 16px;
            color: #797777;
            padding: 17px 320px 17px 10px;
        }
    }
    &__middle {
        margin-right: 340px;
        &-item {
            margin-bottom: 10.76px;
            &:last-child {
                margin-bottom: 0;
            }
            &-link {
                color: #fff;
                font-size: 19px;
                font-family: "Inter", sans-serif;
                font-weight: normal;
                transition: all 0.5s ease;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    &__title {
        font-size: 29px;
        color: #fff;
        margin-bottom: 17px;
    }
    &__right {
        &-item {
            margin-bottom: 10.76px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            &:last-child {
                margin-bottom: 0;
            }
            &-img {
                margin-right: 14px;
            }
            &-link {
                color: #fff;
                font-size: 19px;
                font-family: "Inter", sans-serif;
                font-weight: normal;
                transition: all 0.5s ease;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    &__social {
        margin-top: 45px;
        text-align: center;
        margin-bottom: 44px;
        &-list {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
        &-img {
            transition: all 0.5s ease;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
    &__copyrights {
        font-family: "Inter", sans-serif;
        font-weight: normal;
        font-size: 16px;
        color: #fff;
    }
}

@media screen and (max-width: 1400px) {
    .footer {
        &__left {
            margin-right: 90px;
        }
        &__middle {
            margin-right: 120px;
        }
    }
}

@media screen and (max-width: 1056px) {
    .footer {
        &__left {
            margin-right: 70px;
        }
        &__middle {
            margin-right: 100px;
        }
    }
}

@media screen and (max-width: 1008px) {
    .footer {
        &__left {
            margin-right: 50px;
        }
        &__middle {
            margin-right: 80px;
        }
    }
}

@media screen and (max-width: 972px) {
    .footer {
        &__left {
            margin-right: 30px;
        }
        &__middle {
            margin-right: 50px;
        }
    }
}


@media screen and (max-width: 923px) {
    .footer {
        &__container {
            padding: 20px 10px; /* Ajustar el relleno para pantallas de celular */
        }
        &__top {
            position: static; /* Eliminar la posición absoluta para pantallas de celular */
            transform: none; /* Eliminar la transformación horizontal para pantallas de celular */
            margin: 10px 0; /* Ajustar el margen superior e inferior para pantallas de celular */
            margin-bottom: 40px;
        }
        &__label {
            font-size: 20px; /* Reducir el tamaño de fuente para pantallas de celular */
            margin-left: 10px; /* Ajustar el margen izquierdo para pantallas de celular */
        }
        &__content {
            flex-direction: column; /* Cambiar la dirección de flexbox a vertical para pantallas de celular */
            align-items: flex-start; /* Centrar los elementos en el eje X para pantallas de celular */
            justify-content: center; /* Centrar los elementos en el eje Y para pantallas de celular */
            margin-top: 30px; /* Ajustar el margen superior para pantallas de celular */
        }
        &__left {
            margin-right: 0; /* Eliminar el margen derecho para pantallas de celular */
            margin-bottom: 20px;
        }
        &__suggestions {
            margin-bottom: 10px; /* Reducir el margen inferior para pantallas de celular */
            font-size: 18px; /* Reducir el tamaño de fuente para pantallas de celular */
        }
        &__input {
            width: 100%; /* Asegurarse de que el campo de entrada ocupe todo el ancho para pantallas de celular */
            margin-bottom: 20px; /* Añadir más espacio debajo del campo de entrada para pantallas de celular */
        }
        &__middle {
            margin-right: 0; /* Eliminar el margen derecho para pantallas de celular */
            margin-bottom: 20px; /* Añadir más espacio entre middle y right para pantallas de celular */
            &-item {
                margin-bottom: 5px; /* Reducir el margen inferior para pantallas de celular */
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        &__title {
            font-size: 20px; /* Reducir el tamaño de fuente para pantallas de celular */
            margin-bottom: 10px; /* Reducir el margen inferior para pantallas de celular */
        }
        &__right {
            &-item {
                margin-bottom: 5px; /* Reducir el margen inferior para pantallas de celular */
                &:last-child {
                    margin-bottom: 0;
                }
            }
            &-img {
                margin-right: 8px; /* Reducir el margen derecho para pantallas de celular */
                width: 80%; /* Reducir el tamaño de las imágenes en un 20% */
            }
        }
        &__social {
            font-size: 16px; /* Reducir el tamaño de fuente para la sección de redes sociales */
            margin-top: 50px; /* Ajustar el margen superior para pantallas de celular */
            margin-bottom: 10px; /* Ajustar el margen inferior para pantallas de celular */
            text-align: center; /* Centrar el texto para pantallas de celular */
            &-list {
                justify-content: center; /* Centrar los elementos en el eje X para pantallas de celular */
            }
        }
        &__copyrights {
            font-size: 12px; /* Reducir el tamaño de fuente para pantallas de celular */
        }
    }
}
