.blog {
    margin: 0 134px 111px 134px;
    &__textcont {
        margin-bottom: 60px;
    }
    &__title {
        font-size: 48px;
        line-height: 140%;
        color: #1D2B4F;
    }
    &__list {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }
    &__item {
        margin-right: 75px;
        max-width: 340px;
        &:hover {
            .blog__item-title {
                color: #FF5C00;
                text-decoration: underline;
            }
            .blog__item-img {
                transform: scale(1.1);
            }
        }
        &:last-child {
            margin-right: 0;
        }
        &-img {
            margin-bottom: 31px;
            transition: all 0.5s ease;
        }
        &-title {
            font-size: 22px;
            line-height: 34px;
            color: #304050;
            margin-bottom: 12px;
            cursor: pointer;
            transition: all 0.5s ease;
        }
        &-details {
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 12px;
            margin-bottom: 20px;
            color: #9A9FA5;
            &-focus {
                font-weight: 500;
                color: #304050;
            }
        }
        &-content {
            font-size: 17px;
            line-height: 24px;
        }
    }
}