.join {
    margin: 0 173px 161px 173px;
    padding: 76px 121px 76px 119px;
    background-color: #F5E2D3;
    border-radius: 11px;
    &__container {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }
    &__left {
        margin-right: 21px;
    }
    &__title {
        font-size: 30px;
        max-width: 534px;
        margin-bottom: 10px;
        &-focus {
            color: #F23802;
        }
    }
    &__text {
        font-size: 17px;
        margin-bottom: 14px;
        max-width: 478px;
    }
    &__input {
        border-radius: 25px;
        padding: 17.77px 245px 17.77px 10px;
        border: none;
        width: 438px;
        &::placeholder {
            font-weight: 500;
            font-size: 16px;
            color: #797777;
        }
    }
    &__right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__img {
        margin-bottom: 78.4px;
    }
    &__button {
        background-color: #F23802;
        color:#fff;
        font-family: "Josefin Sans", sans-serif;
        font-size: 17px;
        padding: 9px 29px;
        border-radius: 5px;
        transition: all 0.5s ease;
        &:hover {
            background-color: #fff;
            color: #F23802;
            border: 1px solid #F23802;
            padding: 8px 28px;
        }
    }
}

@media screen and (max-width: 1100px) {
    .join {
        margin: 0 20px; /* Ajustar los márgenes izquierdo y derecho para pantallas de celular */
        padding: 40px 20px; /* Ajustar el relleno para pantallas de celular */
        border-radius: 0; /* Eliminar el redondeo de bordes para pantallas de celular */
    }

    .join__container {
        flex-direction: column; /* Cambiar la dirección de flexbox a vertical para pantallas de celular */
        align-items: center; /* Centrar los elementos en el eje X para pantallas de celular */
        justify-content: center; /* Centrar los elementos en el eje Y para pantallas de celular */
    }

    .join__left {
        margin-right: 0; /* Eliminar el margen derecho para pantallas de celular */
        margin-bottom: 20px; /* Agregar un margen inferior para separar los elementos para pantallas de celular */
    }

    .join__title {
        font-size: 24px; /* Cambiar el tamaño de fuente del título para pantallas de celular */
        max-width: 100%; /* Asegurarse de que el título se ajuste al ancho de su contenedor para pantallas de celular */
    }

    .join__text {
        font-size: 16px; /* Cambiar el tamaño de fuente del texto para pantallas de celular */
        max-width: 100%; /* Asegurarse de que el texto se ajuste al ancho de su contenedor para pantallas de celular */
    }

    .join__input {
        padding: 10px; /* Ajustar el relleno del campo de entrada para pantallas de celular */
        width: 100%; /* Asegurarse de que el campo de entrada ocupe todo el ancho de su contenedor para pantallas de celular */
    }

    .join__right {
        margin-bottom: 20px; /* Agregar un margen inferior para separar los elementos para pantallas de celular */
    }

    .join__img {
        margin-bottom: 20px; /* Reducir el margen inferior para pantallas de celular */
        display: none;
    }
}
