.benefits {
    background-color: #fff;
    position: relative;
    margin-right: 0;
    z-index: 2;
    margin-bottom: 110px;
    &__container {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin-left: 62px;
        margin-right: 192px;
    }
    &__left {
        margin-right: 66px;
        margin-top: 59px;
    }
    &__right {
        max-width: 550px;
        &-title {
            font-size: 48px;
            line-height: 60px;
            max-width: 500px;
            margin-bottom: 10px;
        }
        &-text {
            color: #939393;
        }
        &-list {
            margin-top: 21px;
        }
        &-item {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 21px;
            &-img {
                margin-right: 6px;
            }
            &-text {
                font-family: "Josefin Sans", sans-serif;
                font-weight: normal;
            }
            &:last-child {
                margin-bottom: 37px;
            }
        }
        &-button {
            background-color: #F23802;
            color:#fff;
            font-family: "Josefin Sans", sans-serif;
            font-size: 17px;
            padding: 16px 30px;
            border-radius: 5px;
            transition: all 0.5s ease;
            &:hover {
                background-color: #fff;
                color: #F23802;
                border: 1px solid #F23802;
                padding: 15px 29px;
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .benefits {
        position: relative;
        z-index: 2;
        padding: 20px;
        margin-bottom: 50px; /* Ajustar el margen inferior para pantallas de celular */
        &__container {
            flex-direction: column; /* Cambiar la dirección de flexbox a vertical para pantallas de celular */
            align-items: center; /* Centrar los elementos en el eje X para pantallas de celular */
            justify-content: center; /* Centrar los elementos en el eje Y para pantallas de celular */
            margin-left: 0; /* Eliminar el margen izquierdo para pantallas de celular */
            margin-right: 0; /* Eliminar el margen derecho para pantallas de celular */
        }
        &__left {
            margin-right: 0; /* Eliminar el margen derecho para pantallas de celular */
            margin-top: 20px; /* Ajustar el margen superior para pantallas de celular */
        }
        &__right {
            max-width: 100%; /* Asegurarse de que el contenido ocupe todo el ancho para pantallas de celular */
            &-title {
                font-size: 36px; /* Reducir el tamaño de fuente para pantallas de celular */
                line-height: 46px; /* Ajustar el interlineado para pantallas de celular */
                max-width: 100%; /* Asegurarse de que el título ocupe todo el ancho para pantallas de celular */
                margin-bottom: 10px; /* Ajustar el margen inferior para pantallas de celular */
            }
            &-text {
                color: #939393;
            }
            &-list {
                margin-top: 10px; /* Ajustar el margen superior para pantallas de celular */
            }
            &-item {
                display: flex; /* Mostrar los elementos en línea */
                align-items: center; /* Centrar los elementos en el eje Y para pantallas de celular */
                justify-content: flex-start; /* Ajustar la justificación para pantallas de celular */
                margin-bottom: 10px; /* Ajustar el margen inferior para pantallas de celular */
                &-img {
                    margin-right: 6px; /* Ajustar el margen derecho para pantallas de celular */

                }
                &-text {
                    font-family: "Josefin Sans", sans-serif;
                    font-weight: normal;
                }
                &:last-child {
                    margin-bottom: 20px; /* Ajustar el margen inferior para pantallas de celular */
                }
            }
            &-button {
                background-color: #F23802;
                color: #fff;
                font-family: "Josefin Sans", sans-serif;
                font-size: 17px; /* Reducir el tamaño de fuente para pantallas de celular */
                padding: 16px 30px; /* Ajustar el relleno para pantallas de celular */
                border-radius: 5px;
                margin: 0 auto; /* Centrar el botón horizontalmente */
                transition: all 0.5s ease;
                &:hover {
                    background-color: #fff;
                    color: #F23802;
                    border: 1px solid #F23802;
                    padding: 15px 29px; /* Ajustar el relleno para pantallas de celular */
                }
            }
        }
    }
}
